.banner{
    padding: 260px 0 180px;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}
.banner .banner-wrapper {
    max-width: 512px;
    width: 100%;
}

/* .banner .banner-wrapper h1{} */

.banner .banner-wrapper h4 {
    margin: 10px 0 20px;
}

.banner .banner-wrapper p {
    margin-bottom: 30px;
}